[sssd]
services=nss,pam,pac
domains={{ adjoin_realm }}

[nss]
filter_groups=root
filter_users=root

[pam]
offline_credentials_expiration=2

[domain/{{ adjoin_realm | lower }}]
debug = {{ sssd_debug | default('0') }}
adjoin_domain = {{ adjoin_realm | lower }}
krb5_realm = {{ adjoin_realm | upper }}
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = {{ adjoin_ldap_id_mapping }}
use_fully_qualified_names = False
fallback_homedir = /home/%u
access_provider = ad
adjoin_use_ldaps={{ 'true' if adjoin_tls|bool else 'false' }}
